body {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-family: 'Alegreya', serif;
	text-align: center;
	font-size: 6em;
	margin: 0 auto;
}

h2{
	font-size: 1em;
	text-align: center;
}
h3{
	font-size: 2em;
	font-family: 'Alegreya', serif;
	color: #384361;
	text-align: center;
}
img{
	max-width: 60%
}
#h {
	background-color: #f2f2f2;
	padding-bottom: 5px;
	box-shadow: 5px 5px 5px grey;
}
#pics{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}
.box{
	background-color: black;
	width: 30%;
	height: 450px;
}
#con1{
	display: none;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 10px;
}
#con2{
	display: none;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 10px;
}
#con3{
	display: none;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 10px;
}
#vid{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}
#gal{
	background-color: #f2f2f2;
}
#gallery{
	height: 865px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer{
	text-align: center;
}